@model TurnosBus.Models.place

@{
    ViewBag.Title = "Registrar Lugar";
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<style>
    .cancelarbutton {
        width: 10vw;
        height: 5vh;
        right: 5vw;
        top: 7vh;
        background: #0C430B;
        border-radius: 30px;
        font-size: 1em;
        color: #FFFFFF;
    }

    input {
        width: 100%;
        margin-bottom: 10px;
    }

        input[type="text"] {
            border: none;
            border-bottom: 1px solid #075E24;
            background: transparent;
            outline: none;
            height: 40px;
            color: black;
            font-size: 16px;
        }

        input[type="submit"] {
            border: none;
            outline: none;
            height: 40px;
            background: #075E24;
            color: #fff;
            font-size: 18px;
            border-radius: 20px;
        }

            input[type="submit"]:hover {
                cursor: pointer;
                background: #ffc107;
                color: #000;
            }

    p {
        color: dimgrey;
        margin: 0;
        padding: 0;
        font-weight: bold;
    }
</style>
<style>
    div#options h3#option6 {
        opacity: 1;
    }
</style>

<div id="appbar">
    <img src="~/Content/img/espe.png" alt="" id="image">
    <button id="salirbutton" onclick="onClickSalir()">Salir</button>
</div>
<div id="container">
    <div id="title">
        <h1 id="texttitle">Registrar Lugar</h1>
    </div>
    <div id="options">
        <h3 id="option4">Manejar Disponibilidad</h3>
        <h3 id="option5">Registrar Bus</h3>
        <h3 id="option6">Registrar Lugar</h3>
        <h3 id="option7">Reportes</h3>
    </div>
    <div id="content">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">

                    <div class="col-md-offset-4 col-md-4">

                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = ".loginbox input[type='text']", placeholder = "Nombre" } })
                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-5 col-md-2">
                        <input type="submit" value="Registrar" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>

<script>
    function onClickSalir() {
        console.log("Salir");
        window.location.assign('/Home/Login');
    }

    document.getElementById("option4").addEventListener("click", function () {
        console.log("Manejar Frecuencias");
        window.location.assign('/Frequencies/Manejar');
    });

    document.getElementById("option5").addEventListener("click", function () {
        console.log("Registrar Bus");
        window.location.assign('/Bus/Create');
    });

    document.getElementById("option6").addEventListener("click", function () {
        console.log("Registrar Lugar");
        window.location.assign('/places/Create');
    });

    document.getElementById("option7").addEventListener("click", function () {
        console.log("Reportes");
        window.location.assign('/Reportes/Index');
    });
</script>