
TurnosBus/.vs/config/applicationhost.config
TurnosBus/.vs/TurnosBus/v15/.suo
TurnosBus/.vs/TurnosBus/v15/Server/sqlite3/storage.ide-shm
TurnosBus/.vs/TurnosBus/v15/Server/sqlite3/storage.ide-wal
TurnosBus/TurnosBus/bin/TurnosBus.dll
TurnosBus/TurnosBus/bin/TurnosBus.dll.config
TurnosBus/TurnosBus/bin/TurnosBus.pdb
TurnosBus/TurnosBus/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TurnosBus/TurnosBus/obj/Debug/TurnosBus.csproj.CoreCompileInputs.cache
TurnosBus/TurnosBus/obj/Debug/TurnosBus.csproj.FileListAbsolute.txt
TurnosBus/TurnosBus/obj/Debug/TurnosBus.dll
TurnosBus/TurnosBus/obj/Debug/TurnosBus.pdb
TurnosBus/TurnosBus/TurnosBus.csproj
TurnosBus/.vs/TurnosBus/v15/Server/sqlite3/storage.ide-shm
TurnosBus/.vs/TurnosBus/v15/Server/sqlite3/storage.ide-wal
