
TurnosBus/.vs/config/applicationhost.config
TurnosBus/.vs/TurnosBus/v15/.suo
TurnosBus/.vs/TurnosBus/v15/Server/sqlite3/storage.ide
TurnosBus/.vs/TurnosBus/v15/Server/sqlite3/storage.ide-shm
TurnosBus/.vs/TurnosBus/v15/Server/sqlite3/storage.ide-wal
TurnosBus/.vs/TurnosBus/v15/Server/sqlite3/storage.ide
TurnosBus/.vs/TurnosBus/v15/Server/sqlite3/storage.ide-shm
TurnosBus/.vs/TurnosBus/v15/Server/sqlite3/storage.ide-wal
TurnosBus/.vs/TurnosBus/v15/Server/sqlite3/storage.ide
TurnosBus/.vs/TurnosBus/v15/Server/sqlite3/storage.ide-shm
TurnosBus/.vs/TurnosBus/v15/Server/sqlite3/storage.ide-wal
TurnosBus/.vs/TurnosBus/v15/Server/sqlite3/storage.ide
TurnosBus/.vs/TurnosBus/v15/Server/sqlite3/storage.ide-shm
TurnosBus/.vs/TurnosBus/v15/Server/sqlite3/storage.ide-wal
TurnosBus/.vs/TurnosBus/v15/Server/sqlite3/storage.ide
TurnosBus/.vs/TurnosBus/v15/Server/sqlite3/storage.ide-shm
TurnosBus/.vs/TurnosBus/v15/Server/sqlite3/storage.ide-wal
TurnosBus/.vs/TurnosBus/v15/Server/sqlite3/storage.ide
TurnosBus/.vs/TurnosBus/v15/Server/sqlite3/storage.ide-shm
TurnosBus/.vs/TurnosBus/v15/Server/sqlite3/storage.ide-wal
TurnosBus/TurnosBus/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TurnosBus/TurnosBus/obj/Debug/TurnosBus.csproj.CoreCompileInputs.cache
TurnosBus/TurnosBus/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TurnosBus/TurnosBus/obj/Debug/TurnosBus.csproj.CoreCompileInputs.cache
TurnosBus/TurnosBus/TurnosBus.csproj
TurnosBus/.vs/TurnosBus/v15/Server/sqlite3/storage.ide-shm
TurnosBus/.vs/TurnosBus/v15/Server/sqlite3/storage.ide-wal
TurnosBus/.vs/config/applicationhost.config
TurnosBus/.vs/TurnosBus/v15/.suo
TurnosBus/.vs/TurnosBus/v15/Server/sqlite3/storage.ide
