
@{
    ViewBag.Title = "Horario";
}
<style>
    div#options h3#option1{
        opacity:1;
    }
</style>
<div id="appbar">
    <img src="~/Content/img/espe.png" alt="" id="image">
    <button id="salirbutton" onclick="onClickSalir()">Salir</button>
</div>
<div id="container">
    <div id="title">
        <h1 id="texttitle">Horarios y Unidades</h1>
    </div>

    <div id="options">
        <h3 id="option1">Horarios y Unidades</h3>
        <h3 id="option2">Reserva un Turno</h3>
        <h3 id="option3">Verificar Disponibilidad</h3>
        <h3 id="option4">Cancelar Turno</h3>
    </div>

    <div id="content">
        <table id="table-horario">
            <tr>
                <th>Placa</th>
                <th>Capacidad</th>
                <th>Disponibilidad esta semana</th>
            </tr>
            <tr>
                <td>Peter</td>
                <td>Griffin</td>
                <td>$100</td>
            </tr>
            <tr>
                <td>Lois</td>
                <td>Griffin</td>
                <td>$150</td>
            </tr>
            <tr>
                <td>Joe</td>
                <td>Swanson</td>
                <td>$300</td>
            </tr>
            <tr>
                <td>Cleveland</td>
                <td>Brown</td>
                <td>$250</td>
            </tr>
        </table>
    </div>
</div>