table#table-disponibilidad {
    border-collapse: collapse;
    width: 98%;
}
    table#table-disponibilidad th, td {
        text-align: left;
        padding: 8px;
        text-align: center;
    }

    table#table-disponibilidad tr:nth-child(even) {
        background-color: #f2f2f2
    }

    table#table-disponibilidad th {
        background-color: #4CAF50;
        color: white;
    }
