table#table-horario {
    border-collapse: collapse;
    width: 98%;
}

table#table-horario th, td {
    text-align: left;
    padding: 8px;
    text-align: center;
}

table#table-horario tr:nth-child(even) {
    background-color: #f2f2f2
}

table#table-horario th {
    background-color: #4CAF50;
    color: white;
}
