body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 4fr;
}

#appbar {
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
    padding-top: 2vh;
    padding-left: 3vw;
    padding-right: 2vw;
    padding-bottom: 2vh;
    background: #7BC17A;
}

#image {
    height: 15vh;
    width: 30vw;
}

#salirbutton {
    position: absolute;
    width: 10vw;
    height: 5vh;
    right: 5vw;
    top: 7vh;
    background: #0C430B;
    border-radius: 30px;
    font-size: 1em;
    color: #FFFFFF;
}


#container {
    grid-row: 2 / span 3;
    background: #DCDCDC;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: 1fr 6fr;
}

#title {
    grid-column: 5 / span 40;
    grid-row: 1 / span 2;
    display: flex;
    justify-content: center;
    color: #0C430B;
}

#options {
    grid-column: 1 / 5;
    grid-row: 1 / span 3;
    background: #0C430B;
    padding-left: 1vw;
    padding-top: 2vh;
    color: white;
}

    #options h3 {
        opacity: 0.5;
    }

        #options h3:hover {
            opacity: 1;
        }

        #options h3:active {
            opacity: 1;
        }

#content {
    grid-column: 5 / span 21;
    grid-row: 2 / span 3;
    padding-left: 2vw;
}

#content {
}
