@model TurnosBus.Models.turn

@{
    ViewBag.Title = "Generar Turno";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<style>
    div#options h3#option2 {
        opacity: 1;
    }

    #datetimecontainer {
        display: flex;
        justify-content: space-around;
    }

    table#table-frec {
        border-collapse: collapse;
        width: 98%;
    }

    table#table-frec th, td {
        text-align: left;
        padding: 8px;
        text-align: center;
    }

    table#table-frec tr:nth-child(even) {
        background-color: #f2f2f2
    }

    table#table-frec th {
        background-color: #4CAF50;
        color: white;
    }
</style>
@* =============================CABEZERA=================================================== *@
<div id="appbar">
    <img src="~/Content/img/espe.png" alt="" id="image">
    <button id="salirbutton" onclick="onClickSalir()">Salir</button>
</div>
<div id="container">
    <div id="title">
        <h1 id="texttitle">Reserva un Turno</h1>
    </div>
    @* =============================NAVEGACION=================================================== *@
    <div id="options">
        <h3 id="option1">Horarios y Unidades</h3>
        <h3 id="option2">Reserva un Turno</h3>
        <h3 id="option3">Cancelar Turno</h3>
    </div>
    @* =============================CONTENIDO=================================================== *@


    <div id="content">
        @* =============================FECHA Y HORA=================================================== *@
        <div id="datetimecontainer">
            <h3 id="datetext">FECHA</h3>
            <h3 id="hourtext">Hora</h3>
        </div>
        <div class="container">
            <table id="table-frec">
                <tr>
                    <th>Hora</th>
                    <th>Lugar</th>
                    <th>Capacidad</th>
                    <th></th>
                </tr>
            </table>
        </div>
    </div>
</div>


<script>
    function onClickSalir() {
        console.log("Salir");
        window.location.assign('/Home/Login');
    }

    document.getElementById("option1").addEventListener("click", function () {
        console.log("Horarios y Unidades");
        window.location.assign('/Horario/Index');
    });

    document.getElementById("option2").addEventListener("click", function () {
        console.log("Reservar un Turno");
        window.location.assign('/Turno/Create');
    });

    document.getElementById("option3").addEventListener("click", function () {
        console.log("Cancelar Turno");
        window.location.assign('/Cancelar/Index');
    });
</script>


<script>
    getDateAndTime();

    function getDateAndTime() {
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!

        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }

        let hours = today.getHours();
        let minutes = today.getMinutes();
        let time = hours + ":" + minutes;
        var today = mm + '/' + dd + '/' + yyyy;

        $("#datetext").html("Fecha: " + today);

        $('#datetext').val(today);
        if (minutes < 10) {
            $("#hourtext").html("Hora: " + hours + ":0" + minutes);
        } else {
            $("#hourtext").html("Hora: " + time);
        }
    }
    $(function () {
        $('#fileId').change(function () {
            // When the user selects a file, read the selected filename
            // and set it to the textbox
            var filename = $(this).val();
            $('#fileName').val(filename);
        });
    });
</script>

<script>
    let url = "/Turno/getFrecsTable";

    getFrecs();

    function getFrecs() {
        $.post(url, {}, function (data) {
            console.log(data);
            /*dat = data;
            let table = document.getElementById("table-frec");
            for (let i = 1; i < table.rows.length; i++) {
                table.deleteRow(i);
            }
            if (data.date !== undefined) {
                let row = table.insertRow(1);
                let cell1 = row.insertCell(0);
                let cell2 = row.insertCell(1);
                let cell3 = row.insertCell(2);
                let cell4 = row.insertCell(3);

                cell1.innerHTML = data.date.split(" ", 1);
                cell2.innerHTML = data.hour;
                cell3.innerHTML = data.place;
                cell4.innerHTML = '<button class="cancelarbutton" id="' + data.id + '" onclick="onClickCancelar(id)">Cancelar</button>';
            }*/
        });
    }
</script>